.idea
/seminars/sem 1. Основные понятия и примеры прикладных задач/.ipynb_checkpoints/sem1-checkpoint.ipynb
/seminars/sem 2. Линейные методы классификации и регресии метод стохастического градиента/.ipynb_checkpoints/sem2-checkpoint.ipynb
/seminars/sem 3. Нейронные сети - градиентные методы оптимизации/.ipynb_checkpoints/sem3-checkpoint.ipynb
/seminars/sem 4. Метрические методы классификации и регрессии/.ipynb_checkpoints/sem4-checkpoint.ipynb
/seminars/sem 5. Метод опорных векторов/.ipynb_checkpoints/sem 5-checkpoint.ipynb
/seminars/sem 3. Нейронные сети - градиентные методы оптимизации/mnist/MNIST/raw/t10k-images-idx3-ubyte
/seminars/sem 3. Нейронные сети - градиентные методы оптимизации/mnist/MNIST/raw/t10k-images-idx3-ubyte.gz
/seminars/sem 3. Нейронные сети - градиентные методы оптимизации/mnist/MNIST/raw/t10k-labels-idx1-ubyte
/seminars/sem 3. Нейронные сети - градиентные методы оптимизации/mnist/MNIST/raw/t10k-labels-idx1-ubyte.gz
/seminars/sem 3. Нейронные сети - градиентные методы оптимизации/mnist/MNIST/raw/train-images-idx3-ubyte
/seminars/sem 3. Нейронные сети - градиентные методы оптимизации/mnist/MNIST/raw/train-images-idx3-ubyte.gz
/seminars/sem 3. Нейронные сети - градиентные методы оптимизации/mnist/MNIST/raw/train-labels-idx1-ubyte
/seminars/sem 3. Нейронные сети - градиентные методы оптимизации/mnist/MNIST/raw/train-labels-idx1-ubyte.gz
/seminars/sem 5. Метод опорных векторов/.ipynb_checkpoints/sem5-checkpoint.ipynb
/seminars/sem 6. Многомерная линейная регрессия. Метод главных компонент/.ipynb_checkpoints/sem6-checkpoint.ipynb
/seminars/sem 6. Многомерная линейная регрессия. Метод главных компонент/mnist/MNIST/raw/t10k-images-idx3-ubyte
/seminars/sem 6. Многомерная линейная регрессия. Метод главных компонент/mnist/MNIST/raw/t10k-images-idx3-ubyte.gz
/seminars/sem 6. Многомерная линейная регрессия. Метод главных компонент/mnist/MNIST/raw/t10k-labels-idx1-ubyte
/seminars/sem 6. Многомерная линейная регрессия. Метод главных компонент/mnist/MNIST/raw/t10k-labels-idx1-ubyte.gz
/seminars/sem 6. Многомерная линейная регрессия. Метод главных компонент/mnist/MNIST/raw/train-images-idx3-ubyte
/seminars/sem 6. Многомерная линейная регрессия. Метод главных компонент/mnist/MNIST/raw/train-images-idx3-ubyte.gz
/seminars/sem 6. Многомерная линейная регрессия. Метод главных компонент/mnist/MNIST/raw/train-labels-idx1-ubyte
/seminars/sem 6. Многомерная линейная регрессия. Метод главных компонент/mnist/MNIST/raw/train-labels-idx1-ubyte.gz
/seminars/sem 7. Нелинейная регрессия/.ipynb_checkpoints/sem7-checkpoint.ipynb
